<h1 class="title animate__animated animate__jackInTheBox">{{ title }}</h1>
<ul class="animate__animated animate__flipInX" *ngIf="mode == 'list'">
  <p
    class="text-center animate__animated animate__tada"
    *ngIf="todos.length == 0"
  >
    <small>Não há nenhuma tarefa hoje!</small>
  </p>
  <li *ngFor="let todo of todos">
    <span *ngIf="todo.done" class="todoDone">{{ todo.title }}</span>
    <span *ngIf="!todo.done">{{ todo.title }}</span>

    <button (click)="remove(todo)">
      <i class="far fa-trash-alt"></i>
    </button>
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">
      <i class="far fa-check-circle"></i>
    </button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)">
      <i class="fas fa-check-circle"></i>
    </button>
  </li>
</ul>

<div
  id="modal"
  *ngIf="mode == 'add'"
  class="animate__animated animate__flipInX"
>
  <form [formGroup]="form">
    <h1 class="text-center">Nova Tarefa</h1>
    <input
      type="text"
      placeholder="Título da tarefa"
      maxlength="64"
      formControlName="title"
    />
    <small
      class="danger"
      *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine"
      >Você precisa escrever uma tarefa!</small
    ><br />
    <p class="text-center">
      <button class="button" [disabled]="form.invalid" (click)="add()">
        <i class="fas fa-save"></i>
        Salvar
      </button>
    </p>
  </form>
</div>

<button
  class="button animate__animated animate__fadeInUp"
  (click)="changeMode('add')"
  *ngIf="mode == 'list'"
>
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>
<button
  class="button animate__animated animate__fadeInUp"
  (click)="changeMode('list')"
  *ngIf="mode == 'add'"
>
  <i class="fas fa-time"></i>
  CANCELAR
</button>
